*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,h2{
    font-size: 5vw;
    text-shadow: 4px 4px 8px #000;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5vh;
}
button{
    padding: 10px 20px;
    font-size: 2vw;
    border-radius: 50px;
    background: #000;
    color: #fff;
    border: 4px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    background: #fff;
    color: #000;
    border: 4px solid #000;
}